[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GLDEX"]
	path = GLDEX
	url = https://github.com/cran/GLDEX
[submodule "GLDreg"]
	path = GLDreg
	url = https://github.com/cran/GLDreg
